<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/adddir}" th:object="${director}" method="post">

    <p><input type="hidden" th:field="*{id}"/></p>

    <p>Enter the Name of the director: <input type="text" th:field="*{name}" /></p>

    <p>Enter the genre<input type="text" th:field="*{genre}" /></p>

    <!--<p>Enter the movies: <input type="text" th:field="*{movies}" /></p>-->

    <p><input type="submit" value="Add" />  <input type="reset" value="Reset" /></p>

</form>

</body>
</html>